
  <%= render "navbar"%>

  <div class="container-sections">

    <div id="aboutme" data-controller="navbar">
      <%= render "aboutme" %>
    </div>
    <div id="experience" data-controller="navbar">
      <%= render "experience" %>
    </div>
    <div id="education" data-controller="navbar">
      <%= render "education" %>
    </div>
    <div id="skills" data-controller="navbar">
      <%= render "skills" %>
    </div>
    <div id="interests" data-controller="navbar">
      <%= render "interests" %>
    </div>
    
  </div>
